<header class="site-header">

  <div class="wrapper" style="margin-top: 2%;">

    <img style="width: 26%;" src="/logo.svg" alt="UCL Living Latin Society">

    <nav class="site-nav">
      {% for link in site.data.navigation.main %}
        {% if link.url contains "http" %}
          {% assign url = link.url %}
        {% else %}
          {% assign url = link.url | relative_url %}
        {% endif %}
        <a class="page-link" href="{{ url }}">{{ link.title }}</a>
      {% endfor %}
    </nav>

  </div>

</header>
